Data/XSD files/infrastructure/3.2.0-dev/jobs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.sifassociation.org/infrastructure/3.2"
	targetNamespace="http://www.sifassociation.org/infrastructure/3.2"
	elementFormDefault="qualified">
  <xs:include schemaLocation="job.xsd"></xs:include>
  
	<xs:element name="jobs" type="jobCollectionType"> </xs:element>
  
  <xs:complexType name="jobCollectionType">
    <xs:sequence>
      <xs:element name="job" type="jobType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
