Data/XSD files/infra30/infra30_noInclude.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.sifassociation.org/infrastructure/3.0"
           targetNamespace="http://www.sifassociation.org/infrastructure/3.0"
           elementFormDefault="qualified">
           
  <xs:complexType name="errorType">
    <xs:sequence>
      <xs:element name="code" type="xs:unsignedInt">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Code</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>Corresponds to the value contained in the HTTPS Header Status-Code” field in which the Error Object is the payload.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scope">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Scope</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>Attempted operation.  Ex: “Modify Student”</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="message">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Message</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>A simple, easy to understand, compact description of the error. The primary consumer of this message is the application user. Example: "Unable to open database."</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Description</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>An optional error description that is more complete and technical in nature. It is to be used as a diagnostic message in trouble-shooting procedures.  Example: "The 'Students' table is opened in exclusive mode by user 'ADM1' (dbm.cpp, line 300)."</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:token"/>
  </xs:complexType>

  <xs:simpleType name="uuidType">
    <xs:restriction base="xs:token">
      <xs:pattern
        value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[14][a-fA-F0-9]{3}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="versionType">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,3}[.][0-9]{1,3}([.][0-9]{1,3})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="uriType">
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="0"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="xpathType">
    <xs:sequence>
      <xs:element name="path" type="xs:token">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Path</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>The namespace qualified XPath being expressed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="namespaces">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Namespaces</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>The grouping tag for the namespace entries used in the path.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="namespace">
              <xs:annotation>
                <xs:appinfo>
                  <elementName>Namespace</elementName>
                  <sifChar>MR</sifChar>
                </xs:appinfo>
                <xs:documentation>The tag that holds a single namespace entry together.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="prefix" type="xs:token" nillable="true">
                    <xs:annotation>
                      <xs:appinfo>
                        <elementName>Prefix</elementName>
                        <sifChar>M</sifChar>
                      </xs:appinfo>
                      <xs:documentation>The short prefix used to signify this namespace in the path.  nil = default</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element name="static" type="xs:anyURI">
                      <xs:annotation>
                        <xs:appinfo>
                          <elementName>Static</elementName>
                          <sifChar>C</sifChar>
                        </xs:appinfo>
                        <xs:documentation>Use this tag when communicating the exact namespace.  ex:  http://www.sifinfo.org/infrastructure/2.x</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="startsWith" type="xs:token">
                      <xs:annotation>
                        <xs:appinfo>
                          <elementName>Starts With</elementName>
                          <sifChar>C</sifChar>
                        </xs:appinfo>
                        <xs:documentation>Use this tag when the namespace should be looked up (from the related XML) by how it starts.  ex:  http://www.sifassociation.org/datamodel/US/3.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="regularExpression" type="xs:string">
                      <xs:annotation>
                        <xs:appinfo>
                          <elementName>Regular Expression</elementName>
                          <sifChar>C</sifChar>
                        </xs:appinfo>
                        <xs:documentation>Use this tag when the namespace should be looked up (from the related XML) by matching a regular expression.  see:  http://www.w3.org/TR/xmlschema-2/#regexs  ex:  http://sifassociation.org/datamodel/US/3\.[0-9]+\.?[0-9]*</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="name" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="protocolType">
    <xs:sequence>
      <xs:element name="location" type="xs:anyURI">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Location</elementName>
            <sifChar>M</sifChar>
          </xs:appinfo>
          <xs:documentation>The URL to use when sending Requests to a Provider</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="properties" type="propertiesType"/>
<!--       
      <xs:element name="properties" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Properties</elementName>
            <sifChar>O</sifChar>
          </xs:appinfo>
          <xs:documentation>May contain zero or more property elements containing name/value pairs describing any protocol settings required to ensure proper communication</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="property" type="propertyType">
              <xs:annotation>
                <xs:appinfo>
                  <elementName>Property</elementName>
                  <sifChar>MR</sifChar>
                </xs:appinfo>
                <xs:documentation>Individual setting</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
-->      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productIdentityType">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendorName">
        <xs:annotation>
          <xs:appinfo>
                <elementName>Vendor</elementName>
                <sifChar>O</sifChar>
              </xs:appinfo>
          <xs:documentation>The name of the company supplying this Product.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="productName">
        <xs:annotation>
          <xs:appinfo>
                <elementName>Product</elementName>
                <sifChar>M</sifChar>
              </xs:appinfo>
          <xs:documentation>The name of the Product</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:maxLength value="256"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="productVersion">
        <xs:annotation>
          <xs:appinfo>
                <elementName>Product Version</elementName>
                <sifChar>O</sifChar>
              </xs:appinfo>
          <xs:documentation>The format of this field is undefined, but it should match the format used in the agent's conformance statement, if the agent is SIF Certified.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="iconURI" minOccurs="0" type="xs:anyURI">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Icon URI</elementName>
            <sifChar>O</sifChar>
          </xs:appinfo>
          <xs:documentation>HTTP URL referencing an icon for graphical representation of the application/agent. Should range from 16x16 pixels to 128x128 pixels and be of an image MIME type commonly supported by Web browsers (e.g. PNG, JPEG, GIF).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="serviceTypeType">
    <xs:restriction base="xs:token">
      <xs:pattern value="UTILITY"/>
      <xs:pattern value="OBJECT"/>
      <xs:pattern value="FUNCTION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="provisionedZoneCollectionType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="provisionedZone" type="provisionedZoneType">
        <xs:annotation>
          <xs:documentation>A specific Zone defined for this environment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="zoneType">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:normalizedString">
        <xs:annotation>
          <xs:appinfo>
            <elementName>Description</elementName>
            <sifChar>O</sifChar>
          </xs:appinfo>
          <xs:documentation>A short (possibly multi-sentence) description of the Zone</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="properties" type="propertiesType"/>

<!--       
      <xs:element minOccurs="0" name="properties">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="property" type="propertyType">
              <xs:annotation>
                <xs:appinfo>
                  <elementName>Description</elementName>
                  <sifChar>MR</sifChar>
                </xs:appinfo>
                <xs:documentation>The value of a specific property which defines the Zone.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
-->      
    </xs:sequence>
    <xs:attribute name="id" type="uuidType"/>
  </xs:complexType>

  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="property" type="propertyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provisionedZoneType">
    <xs:sequence>
      <xs:element minOccurs="0" name="services" type="serviceCollectionType"/>
      <!--/xs:element-->
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:appinfo>
                  <elementName>Provisioned Zone ID</elementName>
                  <sifChar>M</sifChar>
                </xs:appinfo>
        <xs:documentation>The unique id of the Zone, and the key to the Zone element in the Zone Registry.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="serviceCollectionType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="service" type="serviceType"/>
      <!--/xs:element-->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element name="rights" type="rightsCollection"/>
      <!--/xs:element-->
    </xs:sequence>
    <xs:attribute name="name" use="required">
      <xs:annotation>
        <xs:documentation>The name of the Service. For utilities, this is fixed to one of the defined set of Utility Service Names. For objects and functions, it is defined by the Data Model.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="contextId" use="required">
      <xs:annotation>
        <xs:documentation>The unique identity of a context element, which is associated with a Provider of this name and type operating in a Zone with this ID.  All Services with the same name in the same Zone must have different Context IDs. Only one such Service can have no Context.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="serviceTypeType" use="required"/>
  </xs:complexType>

  <xs:complexType name="rightsCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="right" type="rightType"/>
      <!--/xs:element-->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rightType">
    <xs:attribute name="type" use="required">
      <xs:annotation>
        <xs:appinfo>
         <elementName>Right Type</elementName>
         <sifChar>M</sifChar>
       </xs:appinfo>
        <xs:documentation>The type of the requested Access Right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="UTILITY"/>
          <xs:pattern value="OBJECT"/>
          <xs:pattern value="FUNCTION"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <!-- ***** -->
  <!-- Alert -->
  <!-- ***** -->
  <xs:element name="alert" type="alertType"> </xs:element>
  <xs:complexType name="alertType">
    <xs:sequence>
      <xs:element name="reporter" type="xs:token" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Reporter</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>External identification of the Application (Consumer or Provider) reporting this Alert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cause" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Cause</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>External identification of the cause of the Alert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exchange" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Exchange</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The exchange (or lack of exchange) responsible for generating the Alert.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="REQUEST"/>
            <xs:enumeration value="RESPONSE"/>
            <xs:enumeration value="EVENT"/>
            <xs:enumeration value="TIMEOUT"/>
            <xs:enumeration value="OTHER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="level" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Level</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The level of the Alert.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value=" INFO"/>
            <xs:enumeration value="STATECHANGE"/>
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="ERROR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description" type="xs:normalizedString" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Description</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>A description of the reason for the Alert.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageID" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Message ID</elementName>
              <sifChar>C</sifChar>
            </xs:appinfo>
          <xs:documentation>If available, the ID of the Message causing the problem.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="body" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Body</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>The internals of the offending message or a more complete description of the information or state change. Usage of the CDATA designation is recommended in order to make the XML contents more readable to humans. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="error" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Error</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>Detailed error results such as a stack trace.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xpath" type="xs:normalizedString" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Xpath</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>An indicator of the specific element that was in error (or contributed to the problem. [NEEDS TO BE CHANGED TO the SIF XPATH TYPE]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="category" type="xs:unsignedInt" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Category</elementName>
              <sifChar>MC</sifChar>
            </xs:appinfo>
          <xs:documentation>If the Alert Level is an error, this value must be the SIF 3.0 Error Category corresponding to the type of Error being reported</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="xs:unsignedInt" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Code</elementName>
              <sifChar>MC</sifChar>
            </xs:appinfo>
          <xs:documentation>If the Alert Level is an error, this value must be the SIF 3.0 Error Code corresponding to the type of Error being reported.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="internal" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Internal</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>Code internal to the reporter.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="uuidType"/>
  </xs:complexType>
      
    <xs:complexType name="alertCollectionType">
        <xs:sequence>
            <xs:element name="alert" type="alertType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="alerts" type="alertCollectionType"/>   
    
  <!-- ******* -->
  <!-- CodeSet -->
  <!-- ******* -->
  <xs:element name="codeSet" type="codeSetType"> </xs:element>

  <xs:complexType name="codeSetType">
    <xs:sequence>
      <xs:element name="zone" type="xs:token">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Zone</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>If this is tied to a specific zone it is specified here, otherwise “environment-global” indicates applicability to all zones in the Environment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" type="versionType">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Version</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The official major, minor, and revision version of the code set.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timestamp" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Timestamp</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The date and time of the last change to this code set.  So that only updates can be queried efficiently (where applicable).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="source" type="uriType" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
                <elementName>Source</elementName>
                <sifChar>CN</sifChar>
              </xs:appinfo>
            <xs:documentation>URL to an external code set whose values are not (yet) present in the system.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="codeItems" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codeItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="code">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Code</elementName>
                            <sifChar>MI</sifChar>
                          </xs:appinfo>
                        <xs:documentation>Official abbreviation for the given value.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="16"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="source" type="uriType" nillable="true">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Source</elementName>
                            <sifChar>SN</sifChar>
                          </xs:appinfo>
                        <xs:documentation>URL where the related abbreviation comes from.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="namespace" type="uriType" nillable="true">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Namespace</elementName>
                            <sifChar>SN</sifChar>
                          </xs:appinfo>
                        <xs:documentation>Namespace where the related abbreviation comes from.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="value" nillable="true">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Value</elementName>
                            <sifChar>SN</sifChar>
                          </xs:appinfo>
                        <xs:documentation>What the code represent.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:token">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="128"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="description" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Description</elementName>
                            <sifChar>ON</sifChar>
                          </xs:appinfo>
                        <xs:documentation>Human readable explanation of what the code represents.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="1024"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="definition" minOccurs="0">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Desfinition</elementName>
                            <sifChar>ON</sifChar>
                          </xs:appinfo>
                        <xs:documentation>Human readable explanation provided by the source!</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="4096"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="aliases" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                        <xs:element name="alias" maxOccurs="unbounded">
                        <xs:complexType>
                        <xs:sequence>
                        <xs:element name="code">
                        <xs:complexType>
                        <xs:sequence>
                        <xs:element name="old" type="xs:boolean">
                        <xs:annotation>
                        <xs:appinfo>
                              <elementName>Old</elementName>
                              <sifChar>M</sifChar>
                            </xs:appinfo>
                        <xs:documentation>Indicates the alias code has been deprecated or deleted, even if it no longer appears in the register.</xs:documentation>
                        </xs:annotation>
                        </xs:element>
                        <xs:element name="official" type="xs:boolean">
                        <xs:annotation>
                        <xs:appinfo>
                              <elementName>Official</elementName>
                              <sifChar>M</sifChar>
                            </xs:appinfo>
                        <xs:documentation>Indicates the alias code is an official one; however the locale uses this one to represent that concept, at least in part.</xs:documentation>
                        </xs:annotation>
                        </xs:element>
                        <xs:element name="value">
                        <xs:annotation>
                        <xs:appinfo>
                              <elementName>Value</elementName>
                              <sifChar>M</sifChar>
                            </xs:appinfo>
                        <xs:documentation>Alternate abbreviation that might need to be more specific or correct.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                        <xs:restriction base="xs:token">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="16"/>
                        </xs:restriction>
                        </xs:simpleType>
                        </xs:element>
                        </xs:sequence>
                        </xs:complexType>
                        </xs:element>
                        <xs:element name="source" type="uriType"
                        nillable="true">
                        <xs:annotation>
                        <xs:appinfo>
                              <elementName>Source</elementName>
                              <sifChar>SN</sifChar>
                            </xs:appinfo>
                        <xs:documentation>URL where the related abbreviation comes from.</xs:documentation>
                        </xs:annotation>
                        </xs:element>
                        <xs:element name="namespace" type="uriType"
                        nillable="true">
                        <xs:annotation>
                        <xs:appinfo>
                              <elementName>Namespace</elementName>
                              <sifChar>SN</sifChar>
                            </xs:appinfo>
                        <xs:documentation>Namespace where the related abbreviation comes from.</xs:documentation>
                        </xs:annotation>
                        </xs:element>
                        </xs:sequence>
                        </xs:complexType>
                        </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="action">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Action</elementName>
                            <sifChar>M</sifChar>
                          </xs:appinfo>
                        <xs:documentation>The last action to be taken for this code item.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                        <xs:enumeration value="ADD"/>
                        <xs:enumeration value="CHANGE"/>
                        <xs:enumeration value="DEPRECATED"/>
                        <xs:enumeration value="DELETE"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="timestamp" type="xs:dateTime">
                      <xs:annotation>
                        <xs:appinfo>
                            <elementName>Timestamp</elementName>
                            <sifChar>M</sifChar>
                          </xs:appinfo>
                        <xs:documentation>The date and time of the last action taken on this code item.  So that only updates can be queried efficiently (where applicable).</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:minLength value="0"/>
          <xs:maxLength value="128"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

    <xs:complexType name="codeSetCollectionType">
        <xs:sequence>
            <xs:element name="codeSet" type="codeSetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="codeSets" type="codeSetCollectionType"/>
    
  <!-- ************** -->
  <!-- CreateResponse -->
  <!-- ************** -->
    <xs:element name="createResponse" type="createResponseType"> </xs:element>
  <xs:complexType name="createResponseType">
    <xs:sequence>
      <xs:element name="creates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="create" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="error" type="errorType"/>
                </xs:sequence>
                <xs:attribute name="id" use="required" type="xs:token"/>
                <xs:attribute name="statusCode" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[24-5][0-9]{2}"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
        
  <!-- ************* -->
  <!-- DeleteRequest -->
  <!-- ************* -->
    <xs:element name="deleteRequest" type="deleteRequestType"> </xs:element>
    <xs:complexType name="deleteRequestType">
        <xs:sequence>
            <xs:element name="deletes" type="deleteIDCollection"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteIDCollection">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="delete">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:token" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
  <!-- ************** -->
  <!-- DeleteResponse -->
  <!-- ************** -->
  <xs:element name="deleteResponse" type="deleteResponseType"> </xs:element>
  <xs:complexType name="deleteResponseType">
    <xs:sequence>
      <xs:element name="deletes" type="deleteStatusCollection"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="deleteStatusCollection">
    <xs:sequence>
      <xs:element name="delete" type="deleteStatus" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="errorType"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:token"/>
    <xs:attribute name="statusCode" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[24-5][0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
    
  <!-- *********** -->
  <!-- Environment -->
  <!-- *********** -->
  <xs:element name="environment" type="environmentType"> </xs:element>
  <xs:complexType name="environmentType">
    <xs:sequence>
      <xs:element name="sessionToken" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Session Key</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="solutionId" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Solution</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>The solution the Application would like to participate in. This is optional only, is advisory, and may be ignored by the Administrator.  If processed it may be reflected in the URLs of the infrastructure services which are provided in the consumerEnvironment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="defaultZone" type="zoneType" minOccurs="0"/>
      <xs:element name="authenticationMethod" type="xs:token" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Authentication Method</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Defines the way in which the applicationKey can be used to enforce security.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="instanceId" type="xs:token">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Instance ID</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="userToken" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>User Token</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="consumerName" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Consumer Name</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>A descriptive name for the application that will be readily identifiable to Zone Administrators if it becomes a Registered Consumer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicationInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="applicationKey" type="xs:string" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
              <elementName>Application Key</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
                <xs:documentation>An opaque (to the SIF standard) element which contains any required Consumer authentication information. The content of this element is site-specific.  For a Direct Environment which accepts Consumer Registration Requests from a mobile application, this element might contain a combination of the User ID and Password.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="supportedInfrastructureVersion" type="xs:string"
              minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
              <elementName>Infrastructure Version</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
                <xs:documentation>The version of the SIF infrastructure which the Consumer supports.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="supportedDataModel" type="xs:string" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
              <elementName>Data Model Namespace</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
                <xs:documentation>The namespace of the data payloads conveyed by this environment.  Returns may be of a diffrent minor version.  Utility payloads will be of the infrastructure namespace.</xs:documentation>
              </xs:annotation>
            </xs:element>
            
              <xs:element name="supportedDataModelVersion" type="xs:string" minOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
              <elementName>Data Model Namespace</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
                  <xs:documentation>The namespace of the data or utility payloads conveyed by this environment.  Returns may be of a diffrent minor version.</xs:documentation>
                </xs:annotation>
              </xs:element>
                          
            
            <xs:element name="transport" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
              <elementName>Transport</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
                <xs:documentation>The transport which the Consumer expects the infrastructure to use to interoperate with it.  The default is whichever transport the create request was issued on</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="applicationProduct" type="productIdentityType"> </xs:element>
            <xs:element name="adapterProduct" type="productIdentityType"> </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infrastructureServices" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="infrastructureService" minOccurs="1" maxOccurs="unbounded"
              type="propertyType">
              <xs:annotation>
                <xs:documentation>There must be an InfrastructureService element present for each defined Infrastructure Service.   The value of each InfrastructureService Property value subelement defines the URL location of that Infrastructure Service.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="provisionedZones" minOccurs="0" type="provisionedZoneCollectionType">
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="DIRECT"/>
          <xs:enumeration value="BROKERED"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id" type="uuidType"/>
  </xs:complexType>
  
  <!-- ***** -->
  <!-- Error -->
  <!-- ***** -->
  <xs:element name="error" type="errorType"/>
  
  <!-- ********* -->
  <!-- Namespace -->
  <!-- ********* -->
  <xs:element name="namespace" type="namespaceType"> </xs:element>
  <xs:complexType name="namespaceType">
    <xs:sequence>
      <xs:element name="zone" type="xs:token" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Zone</elementName>
              <sifChar>M</sifChar>
              <sifId/>
              <cedsId/>
              <cedsURL/>
            </xs:appinfo>
          <xs:documentation>If this namespace is tied to a specific zone it is specified here.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uri" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>URI</elementName>
              <sifChar>MU</sifChar>
              <sifId/>
              <cedsId/>
              <cedsURL/>
            </xs:appinfo>
          <xs:documentation>The namespace URI of the retrieved URL.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:anyURI">
            <xs:maxLength value="2048"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="url" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>URL</elementName>
              <sifChar>MN</sifChar>
              <sifId/>
              <cedsId/>
              <cedsURL/>
            </xs:appinfo>
          <xs:documentation>The URL of the specified namespace URI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:anyURI">
            <xs:maxLength value="2048"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="uuidType" use="required"/>
  </xs:complexType>

    <xs:complexType name="namespaceCollectionType">
        <xs:sequence>
            <xs:element name="namespace" type="namespaceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="namespaces" type="namespaceCollectionType"/>

  <!-- ******** -->
  <!-- Provider -->
  <!-- ******** -->
  <xs:element name="provider" type="providerType"> </xs:element>
  <xs:complexType name="providerType">
    <xs:sequence>
      <xs:element name="serviceType" minOccurs="1" type="serviceTypeType">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Service Type</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The generic type of Service being provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceName" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Service Name</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The name of the Service being provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="context" minOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contextName" type="xs:string" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>contextName</elementName>
                    <sifChar>M</sifChar>
                  </xs:appinfo>
                <xs:documentation>The name of the Service Context being provided.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="zoneID" type="xs:string" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Zone ID</elementName>
                    <sifChar>M</sifChar>
                  </xs:appinfo>
                <xs:documentation>The Zone in which the Service Context is being provided.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="providername" type="xs:string" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Provider Name</elementName>
                    <sifChar>M</sifChar>
                  </xs:appinfo>
                <xs:documentation>The name of the Service Provider as it would be referred to by the administrator of the Zone (ex: RamseySIS).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dataModelNamespace" type="xs:anyURI">
              <xs:annotation>
                <xs:appinfo>
                <elementName>Data Model Namespace</elementName>
                <sifChar>M</sifChar>
              </xs:appinfo>
                <xs:documentation>The namespace of the data or utility payloads conveyed by this service.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="querySupport" minOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="singular" type="xs:boolean" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Singular</elementName>
                    <sifChar>M</sifChar>
                  </xs:appinfo>
                <xs:documentation>True if this service is capable of receiving, retrieving, expanding and processing a singular XQuery Token.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="formula" type="xs:boolean" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Formula</elementName>
                    <sifChar>M</sifChar>
                  </xs:appinfo>
                <xs:documentation>True if this service is additionally capable of processing a formula XQuery Token.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="paged" type="xs:boolean" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Paged</elementName>
                    <sifChar>M</sifChar>
                  </xs:appinfo>
                <xs:documentation>True if this service is capable of responding to Paged Query Requests (both Interactive and Batch).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="maxPageSize" type="xs:unsignedInt" minOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Max Page Size</elementName>
                    <sifChar>MC</sifChar>
                  </xs:appinfo>
                <xs:documentation>If Paged Queries are supported, this is the maximum number of Objects that will be returned on a Page of Query results.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="applicationProduct" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Application Product</elementName>
                    <sifChar>C</sifChar>
                  </xs:appinfo>
                <xs:documentation>Application Vendor Identification</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="adapterProduct" type="productIdentityType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                    <elementName>Adapter Product</elementName>
                    <sifChar>O</sifChar>
                  </xs:appinfo>
                <xs:documentation>Adapter Vendor Identification</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="endPoint" type="protocolType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>End Point</elementName>
              <sifChar>MC</sifChar>
            </xs:appinfo>
          <xs:documentation>In a Brokered Environment, this element contains the URL where all requests for this Service Provider should be re-invoked by the Connector</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="uuidType"/>
  </xs:complexType>

    <xs:complexType name="providerCollectionType">
        <xs:sequence>
            <xs:element name="provider" type="providerType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="providers" type="providerCollectionType"/>
    
  <!-- **************** -->
  <!-- ProvisionRequest -->
  <!-- **************** -->
    <xs:element name="provisionRequest" type="provisionRequestType"> </xs:element>
    <xs:complexType name="provisionRequestType">
        <xs:sequence>
            <xs:element name="provisionedZones" type="provisionedZoneCollectionType">
                <xs:annotation>
                    <xs:appinfo>
                            <elementName>Provisioned Zones</elementName>
                            <sifChar>M</sifChar>
                        </xs:appinfo>
                    <xs:documentation>Contains the list of per Service provisioning requests.  Whether successful or not, the results of any additional Service rights assertions (ACCEPTED or REJECTED) will be merged into the existing set currently found in the environment.
                        </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="completionStatus">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ACCEPTED"/>
                    <xs:enumeration value="MIXED"/>
                    <xs:enumeration value="REJECTED"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

  <!-- ****** -->
  <!-- Queues -->
  <!-- ****** -->
  <xs:element name="queue" type="queueType"> </xs:element>
  <xs:complexType name="queueType">
    <xs:sequence>
      <xs:element name="polling" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Polling</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>Determines, when no messages are queued, whether the Consumer will have to periodically reissue Polling Requests at timed intervals or can reissue a Polling Request immediately.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IMMEDIATE"/>
            <xs:enumeration value="LONG"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ownerId" type="uuidType">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Ownder ID</elementName>
              <sifChar>C</sifChar>
            </xs:appinfo>
          <xs:documentation>The Environment ID of the owning Consumer for which this Queue is buffering messages. It is not specified at Queue create time, but is returned as part of the response to a query operation, and serves to allow an administrative application to identify which application the Queue instance is assigned to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Name</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>A name which the Consumer assigns to the Queue.  It is useful for reporting purposes, but is not guaranteed to be unique.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queueURI" type="xs:anyURI" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Queue URL</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The URI of the Messages Service associated with the Queue instance.  This is the endpoint where the 'get next message' requests are issued.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idleTimeout" type="xs:unsignedInt" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Idle Time</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Is the maximum time in seconds the Messages Service will wait for a message to arrive, before returning an HTTPS Response of 'no message seen' to the Consumer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minWaitTime" type="xs:unsignedInt" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Wait Time</elementName>
              <sifChar>C</sifChar>
            </xs:appinfo>
          <xs:documentation>indicates the minimum time in seconds that the Consumer should wait after receiving a 'no message seen' response to a previous query, before posting another.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxConcurrentConnections" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Connections</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>Number of (properly identified) concurrent connections supported by (the consumer, if suggested, and) the queue.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="created" type="xs:dateTime" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Created</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Time that Queue Instance was Created</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastAccessed" type="xs:dateTime" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Last Accessed</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Time that Queue Instance was last Accessed and a message was dequeued.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastModified" type="xs:dateTime" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Last Modified</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Time that Queue Instance was last Modified by receiving a new incoming message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageCount" type="xs:unsignedInt" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Message Count</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The number of messages currently residing in the Queue.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="uuidType"/>
  </xs:complexType>
  
    <xs:complexType name="queueCollectionType">
        <xs:sequence>
            <xs:element name="queue" type="queueType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="queues" type="queueCollectionType"/>  
  
  <!-- ************ -->
  <!-- Subscription -->
  <!-- ************ -->
  <xs:element name="subscription" type="subscriptionType"> </xs:element>
  <xs:complexType name="subscriptionType">
    <xs:sequence>
      <xs:element name="zoneId" type="xs:token" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Zone ID</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="contextId" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Context ID</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>The unique identity of a context element, which is associated with a Provider of this name and type operating in a Zone with this ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceType" minOccurs="1" type="serviceTypeType">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Service Type</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The type of the Service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceName" type="xs:token" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Service Name</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>The name of the Service. For utilities, this is fixed to one of the defined set of Utility Service Names. For objects and functions, it is defined by the Data Model.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queueId" type="xs:token" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Queue ID</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Specifies which queues you want data associated with this subscription published to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="uuidType"/>
  </xs:complexType>

    <xs:complexType name="subscriptionCollectionType">
        <xs:sequence>
            <xs:element name="subscription" type="subscriptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="subscriptions" type="subscriptionCollectionType"/>  

  <!-- ************** -->
  <!-- UpdateResponse -->
  <!-- ************** -->
  <xs:element name="updateResponse" type="updateResponseType"> </xs:element>
  <xs:complexType name="updateResponseType">
    <xs:sequence>
      <xs:element name="updates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="update" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="error" type="errorType"/>
                </xs:sequence>
                <xs:attribute name="id" use="required" type="xs:token"/>
                <xs:attribute name="statusCode" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[24-5][0-9]{2}"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ******** -->
  <!-- XQueries -->
  <!-- ******** -->
  <xs:element name="xquery" type="xqueryType"> </xs:element>
  <xs:complexType name="xqueryType">
    <xs:sequence>
      <xs:element name="type" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Type</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Determines if the query may be sent to a data provider or if it requires the extended XQuery mechanism.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="FORMULA"/>
            <xs:enumeration value="EXTENDED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="status" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Status</elementName>
              <sifChar>M</sifChar>
            </xs:appinfo>
          <xs:documentation>Communicates if the query has been inspected for data hiding and the results of that assessment.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="APPROVED"/>
            <xs:enumeration value="DISALLOWED"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="qualifier" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Qualifier</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>If status is DISALLOWED this element optionally contains the reason.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:normalizedString">
            <xs:minLength value="0"/>
            <xs:maxLength value="1024"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Description</elementName>
              <sifChar>ON</sifChar>
            </xs:appinfo>
          <xs:documentation>Human readable description of the XQuery's intended behavior.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="1024"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="script" minOccurs="1">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Script</elementName>
              <sifChar>MN</sifChar>
            </xs:appinfo>
          <xs:documentation>The text of the XQuery which MAY accept parameters. Usage of the CDATA designation is recommended.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="include" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
              <elementName>Include</elementName>
              <sifChar>O</sifChar>
            </xs:appinfo>
          <xs:documentation>Collection of elements to be included in the results.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="xpath" type="xpathType" minOccurs="1"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
              <elementName>Xpath</elementName>
              <sifChar>MR</sifChar>
            </xs:appinfo>
                <xs:documentation>Indicates one of the pieces of data to include in the result. [CHANGE TO SIF XPATH TYPE]</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:token"/>
  </xs:complexType>

    <xs:complexType name="xqueryCollectionType">
        <xs:sequence>
            <xs:element name="xquery" type="xqueryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="xquerys" type="xqueryCollectionType"/>

  <!-- ***** -->
  <!-- Zones -->
  <!-- ***** -->
  <xs:element name="zone" type="zoneType"/>

  <xs:complexType name="zoneCollectionType">
    <xs:sequence>
      <xs:element name="zone" type="zoneType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="zones" type="zoneCollectionType" />
  


</xs:schema>           