Data/XSD files/SIF AU 1.3 (Infrastructure 3.0)/infra30/codesets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.sifassociation.org/infrastructure/3.0"
    targetNamespace="http://www.sifassociation.org/infrastructure/3.0"
    elementFormDefault="qualified">
    <xs:include schemaLocation="codeset.xsd"></xs:include>
    
    <xs:complexType name="codeSetCollectionType">
        <xs:sequence>
            <xs:element name="codeSet" type="codeSetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="codeSets" type="codeSetCollectionType"/>
</xs:schema>
