Data/XSD files/datamodel/UK/2.0/SIFUK/LearnerSpecialNeeds.xsd

<!--
		SIF Data Model Implementation Specification (UK) 2.0 (November 2014) Infrastructure Version: 3.0.1
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.sifassociation.org/datamodel/uk/2.0" xmlns:sif="http://www.sifassociation.org/datamodel/uk/2.0" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="imports/xml/xml.xsd" />
  <xs:complexType name="LearnerSpecialNeedsType">
    <xs:annotation>
      <xs:documentation>
        This object contains information regarding a special education need (SEN)
        for a learner when provisioned within a school or establishment. A new
        object exists for each provision. The current status of any provision can be
        determined by querying StartDate and EndDate. Both dates are allowed to
        be in the future. The publisher of this object must support queries on these
        dates.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnitMember" minOccurs="0" nillable="true">
        <xs:annotation>
          <xs:documentation>Is this learner with special education needs (SEN) in a mainstream school a member of an SEN Unit (sometimes called special class)?</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ResourcedProvisionMember" minOccurs="0" nillable="true">
        <xs:annotation>
          <xs:documentation>Is this learner with special education needs (SEN) in a mainstream school a member of a resourced provision?</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NextReviewDate" minOccurs="0" nillable="true" type="xs:date">
        <xs:annotation>
          <xs:documentation>Date of learner's next SEN review.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Provision" minOccurs="0" type="sif:UKSENProvisionType">
        <xs:annotation>
          <xs:documentation>A provision (stage) accommodated for this learner within this school.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" minOccurs="0" type="xs:date">
        <xs:annotation>
          <xs:documentation>
      Date when learner was placed on the current SEN stage. Date may be in the
      future.
    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" minOccurs="0" nillable="true" type="xs:date">
        <xs:annotation>
          <xs:documentation>Date when learner finished this SEN stage.  Assumed to be current unless a date in the past is specified here.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SENTypeList" minOccurs="0" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SENType" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>The code for a Special Educational Need (type) for this learner. </xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                  <xs:extension base="sif:UKSENTypeTypeOrEmpty">
                    <xs:attribute name="Ranking" use="required" type="xs:unsignedInt">
                      <xs:annotation>
                        <xs:documentation>A value (starting at 1) indicating the order of significance of special educational need in relation to other SEN types listed here.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AdviceAndAssessmentLevel" minOccurs="0" nillable="true" type="sif:UKAdviceAndAssessmentWalesType">
        <xs:annotation>
          <xs:documentation>Level of provision for Advice and Assessment. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroupingAndSupportLevel" minOccurs="0" nillable="true" type="sif:UKGroupingAndSupportWalesType">
        <xs:annotation>
          <xs:documentation>Level of provision for Grouping and Support. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialisedResourcesLevel" minOccurs="0" nillable="true" type="sif:UKSpecialisedResourcesWalesType">
        <xs:annotation>
          <xs:documentation>Level of provision for Specialised Resources. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TeachingMethodsLevel" minOccurs="0" nillable="true" type="sif:UKCurriculumAndTeachingMethodsWalesType">
        <xs:annotation>
          <xs:documentation>Level of provision for Curriculum and Teaching Methods. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmbeddedBasicSkillsSupport" minOccurs="0" nillable="true">
        <xs:annotation>
          <xs:documentation>Provision of Embedded Basic Skills support beyond the attainment of formal qualification.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:restriction base="sif:UKBasicSkillsSupportWalesType" />
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LiteracyLevelStart" minOccurs="0" nillable="true" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Level of literacy at start of this SEN stage. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LiteracyLevelEnd" minOccurs="0" nillable="true" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Level of literacy achieved by the end of this SEN stage. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumeracyLevelStart" minOccurs="0" nillable="true" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Level of numeracy at start of this SEN stage. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumeracyLevelEnd" minOccurs="0" nillable="true" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Level of numeracy achieved by the end of this SEN stage. (Wales)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalCurriculumList" minOccurs="0" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NationalCurriculum" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Modification" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>How is the National Curriculum used for this learner?</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="M">
                          <xs:annotation>
                            <xs:documentation>Modified</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="N">
                          <xs:annotation>
                            <xs:documentation>Disapplied</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Subject" minOccurs="0" type="sif:UKGeneralSubjectType">
                    <xs:annotation>
                      <xs:documentation>National Curriculum subject(s) for which modification or disapplication applies.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MedicalFlag" minOccurs="0" nillable="true">
        <xs:annotation>
          <xs:documentation>Is there medical information on this Learner?</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Yes" />
            <xs:enumeration value="No" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ParamedicalSupport" minOccurs="0" nillable="true">
        <xs:annotation>
          <xs:documentation>Type of therapy needed by Learner.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="P">
              <xs:annotation>
                <xs:documentation>Physiotherapy</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
              <xs:annotation>
                <xs:documentation>Speech Therapy</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="O">
              <xs:annotation>
                <xs:documentation>Occupational Therapy</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MedicalNotes" minOccurs="0" nillable="true" type="xs:normalizedString">
        <xs:annotation>
          <xs:documentation>Summary of learner's medical condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIF_Metadata" minOccurs="0" nillable="true" type="sif:SIF_MetadataType" />
      <xs:element name="SIF_ExtendedElements" minOccurs="0" nillable="true" type="sif:SIF_ExtendedElementsType">
        <xs:unique name="SIF_ExtendedElementsKey21">
          <xs:selector xpath="./sif:SIF_ExtendedElement" />
          <xs:field xpath="@Name" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RefId" use="required" type="sif:RefIdType">
      <xs:annotation>
        <xs:documentation>The ID (GUID) that uniquely identifies a learner special need (provision).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LearnerPersonalRefId" use="required" type="sif:IdRefType">
      <xs:annotation>
        <xs:documentation>The ID (GUID) of the learner with special educational needs.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SchoolInfoRefId" use="required" type="sif:IdRefType">
      <xs:annotation>
        <xs:documentation>The ID (GUID) that uniquely identifies the school provisioned to work with the learner's special needs.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="LearnerSpecialNeeds" type="sif:LearnerSpecialNeedsType" />

</xs:schema>