Data/XSD files/datamodel/UK/2.0/SIFUK/LearnerBehaviourIncident.xsd

<!--
		SIF Data Model Implementation Specification (UK) 2.0 (November 2014) Infrastructure Version: 3.0.1
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.sifassociation.org/datamodel/uk/2.0" xmlns:sif="http://www.sifassociation.org/datamodel/uk/2.0" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="imports/xml/xml.xsd" />
  <xs:complexType name="LearnerBehaviourIncidentType">
    <xs:annotation>
      <xs:documentation>Object to represent a behaviour incident at an educational establishment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SchoolInfoRefId" minOccurs="0" type="sif:IdRefType">
        <xs:annotation>
          <xs:documentation>The ID (GUID) of the school that the event takes place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BehaviourType" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Weighting" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:annotation>
                    <xs:documentation>An indicator of the positive / Negative nature and severity of behaviour</xs:documentation>
                  </xs:annotation>
                  <xs:minInclusive value="-10" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                  <xs:maxInclusive value="10" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                  <xs:fractionDigits value="0" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Classification" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Agreed Classification for this behaviour type</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:union>
                  <xs:simpleType>
                    <xs:restriction base="sif:UKPupilExclusionReasonType" />
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="Physical Abuse" />
                      <xs:enumeration value="Verbal Abuse" />
                      <xs:enumeration value="Substance Abuse" />
                      <xs:enumeration value="Bullying" />
                      <xs:enumeration value="Property Abuse" />
                      <xs:enumeration value="Disruption" />
                      <xs:enumeration value="Compliance" />
                      <xs:enumeration value="Other" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:element>
            <xs:element name="SubClassification" minOccurs="0" nillable="true" type="xs:normalizedString">
              <xs:annotation>
                <xs:documentation>Free text string to precisely define the type of behaviour (if classification is Other then sub classification is mandatory else optional)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Incident" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Date" minOccurs="0" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>Date and time Incident took place (started to take place)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Duration" minOccurs="0" nillable="true" type="xs:integer">
              <xs:annotation>
                <xs:documentation>How long incident lasted (minutes)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Location" minOccurs="0">
              <xs:annotation>
                <xs:documentation>The Location the Incident (mostly) took place</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="Offsite Unsupervised" />
                  <xs:enumeration value="Offsite Supervised" />
                  <xs:enumeration value="Class" />
                  <xs:enumeration value="School Indoors Non-Class" />
                  <xs:enumeration value="School Outdoors Non-Class" />
                  <xs:enumeration value="Other" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Comments" minOccurs="0" nillable="true" type="xs:normalizedString">
              <xs:annotation>
                <xs:documentation>free text comments about the incident</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PrecursorRefId" minOccurs="0" nillable="true" type="sif:IdRefType">
              <xs:annotation>
                <xs:documentation>A Preceding LearnerBehaviourIncidentRefID to which this behaviour is linked </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Confidentiality" minOccurs="0">
              <xs:annotation>
                <xs:documentation>May indicate the type of persons that this should be displayed to</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="Low" />
                  <xs:enumeration value="Medium" />
                  <xs:enumeration value="High" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Participants" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Employees" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Employee" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ParticipationTypes" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ParticipationType" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:documentation>The capacity of Involvement</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:token">
                                    <xs:enumeration value="Recorder" />
                                    <xs:enumeration value="Incharge" />
                                    <xs:enumeration value="Victim/Recipient" />
                                    <xs:enumeration value="Witness/Observer" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="ParticipationComment" minOccurs="0" nillable="true" type="xs:normalizedString">
                          <xs:annotation>
                            <xs:documentation>free text comments about the individuals Involvement In the incident</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="WorkforcePersonalRefId" use="required" type="sif:IdRefType">
                        <xs:annotation>
                          <xs:documentation>The REFID of the member of Staff </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Learners" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Learner" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ParticipationTypes" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ParticipationType" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:documentation>The capacity of Involvement</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:token">
                                    <xs:enumeration value="Perpetrator" />
                                    <xs:enumeration value="Victim/Recipient" />
                                    <xs:enumeration value="Witness/Observer" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="ParticipationComment" minOccurs="0" nillable="true" type="xs:normalizedString">
                          <xs:annotation>
                            <xs:documentation>free text comments about the individuals Involvement In the incident</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="Motivation" minOccurs="0" nillable="true">
                          <xs:annotation>
                            <xs:documentation>Any recorded Motivation for participation</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:token">
                              <xs:enumeration value="Racial" />
                              <xs:enumeration value="Sexual" />
                              <xs:enumeration value="Financial" />
                              <xs:enumeration value="Religious" />
                              <xs:enumeration value="Other" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="Weighting" minOccurs="0" nillable="true">
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:annotation>
                                <xs:documentation>How many Points awarded for the participation (indicator of the positive / Negative nature and severity of individuals behaviour)</xs:documentation>
                              </xs:annotation>
                              <xs:minInclusive value="-10" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                              <xs:maxInclusive value="10" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                              <xs:fractionDigits value="0" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="Actions" minOccurs="0" nillable="true">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Action" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="Classification" minOccurs="0">
                                      <xs:annotation>
                                        <xs:documentation>The classification Of Outcome</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:token">
                                          <xs:enumeration value="Communication" />
                                          <xs:enumeration value="Activity" />
                                          <xs:enumeration value="Punishment" />
                                          <xs:enumeration value="Exclusion" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="SubClassification" minOccurs="0" nillable="true" type="xs:normalizedString">
                                      <xs:annotation>
                                        <xs:documentation>Free text string to precisely define the action (if classification is Other then sub classification is mandatory else optional)</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Date" minOccurs="0" type="xs:dateTime">
                                      <xs:annotation>
                                        <xs:documentation>Date and time Action has or Will take place</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Person" minOccurs="0" nillable="true" type="sif:IdRefType">
                                      <xs:annotation>
                                        <xs:documentation>The PersonRefId of the person (student/ Employee/ parent) who will carry out the action</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Comment" minOccurs="0" nillable="true" type="xs:normalizedString">
                                      <xs:annotation>
                                        <xs:documentation>free text comments about the Action</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="LearnerPersonalRefId" use="required" type="sif:IdRefType">
                        <xs:annotation>
                          <xs:documentation>The REFID of the learner</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SIF_Metadata" minOccurs="0" nillable="true" type="sif:SIF_MetadataType" />
      <xs:element name="SIF_ExtendedElements" minOccurs="0" nillable="true" type="sif:SIF_ExtendedElementsType">
        <xs:unique name="SIF_ExtendedElementsKey28">
          <xs:selector xpath="./sif:SIF_ExtendedElement" />
          <xs:field xpath="@Name" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RefId" use="required" type="sif:RefIdType">
      <xs:annotation>
        <xs:documentation>The ID (GUID) that uniquely identifies a particular incident</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="LearnerBehaviourIncident" type="sif:LearnerBehaviourIncidentType">
    <xs:unique name="LearnerBehaviourIncidentKey1">
      <xs:selector xpath="." />
      <xs:field xpath="@RefId" />
    </xs:unique>
  </xs:element>

</xs:schema>